.NavBar{
    background-color: rgb(127,38,9);
    height: 4rem;
    width: 100%;
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.NavBar label{
    color: white;
    font-size: larger;
    font-weight: bold;
}
.button{
    background: rgb(69,22,2);
    height: 2rem;
    width: 10rem;
    border-radius: 50px;
    border: solid transparent;
    margin: 0.9 0.9rem;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.tag{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button img{
    height: 20px;
    width: 20px;
}

.coverPic{
    width: 100%;
    height: 20rem;
    overflow: hidden;
}

.coverPic img {
    width: 110%;
    height: 90%;
    object-fit: cover;
    transform: rotateZ(-5deg) translateY(-5rem) translateX(-1rem);
  }